#mainLayoutPane {
    background-color: #1f2d40;
}

#mainDiv {
    background-color: #1f2d40;
}

.CodeMirror {
    text-align: left;
    height: auto !important;
}

.ui-toolbar-group-left, .ui-toolbar-group-right {
    display: flex;
    align-items: center;
    flex-wrap: nowrap !important;
}

.ui-datatable .ui-selection-column .ui-chkbox-all {
    display: unset !important;
}

.labelColumn {
    width: 250px !important;
    white-space: nowrap;
}

.inputColumn {
    width: 600px !important;
}